.footerG{
    width: 100%;
    background-color: #073b4c;
    height: 200px;
    position: relative;
    top: 80px;
    z-index: 1;
    bottom: 0;
    opacity: 0.8;
}
.nameFooter{
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 14px; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.mailAdress{
    text-align: center;
    position: relative;
    top: 20px;
    text-decoration: underline;
    color: #d9ed92;
    width: 50%;
    margin-left: auto;
    cursor: pointer;
    margin-right: auto;
}

.iconGroup{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
}
.alink{
    color: #d9ed92;
}
.icons{
}