*{
    margin: 0;
    padding: 0;
    cursor: url(../src/assets/air-transport.png);
}
.flag{
    cursor: pointer;
}
.flag img{
    width: 25px;
    height: auto;
    padding: 10px;
}
.flags{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
}
@media screen and (max-width:600px) {
    .flags{
        flex-direction: column;
        justify-content: center;
    }
    .flag img{
        width: 20px;
        height: auto;
    }
}
.appButton{
    border-radius: 50%;
    padding: 30px;
    background-color: #973465;
    width: 75px;
    position: relative;
    height: 75px;
    display: block;
    box-shadow: 3px 3px 3px #000;
}
.buttonL{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    z-index: 999;
    position: fixed;
    margin-left: 87%;
    top: 300px;
}
.close{
    position: relative;
    bottom: 40px;
    right: 30px;
    padding: 30px;
    margin: 5px;
}