//big titles
.cut-myseen {
    $random-text: 'my s.E.E.N';
    position: relative;
    text-transform: uppercase;
    font-size: 80px;
    color: transparent;
    font-weight: 400;
    font-family: 'Catamaran', sans-serif;
    font-style: italic;

    &:after {
      content: $random-text;
      position: absolute;
      left: -10px;
      top: -2px;
      color: white;
      $path: polygon(0 25%, 100% 65%, 100% 100%, 0% 100%);
      -webkit-clip-path: $path;
      clip-path: $path;
    }
    
    &:before {
      content: $random-text;
      position: absolute;
      color: white;
      $path: polygon(0 0, 110% 0, 100% 65%, 0 25%);
      -webkit-clip-path: $path;
      clip-path: $path;
    }
}
.cut-lanvest {
    $random-text: 'Lanvest';
    position: relative;
    text-transform: uppercase;
    font-size: 80px;
    color: transparent;
    font-weight: 400;
    font-family: 'Catamaran', sans-serif;
    font-style: italic;

    &:after {
      content: $random-text;
      position: absolute;
      left: -10px;
      top: -2px;
      color: white;
      $path: polygon(0 25%, 100% 65%, 100% 100%, 0% 100%);
      -webkit-clip-path: $path;
      clip-path: $path;
    }
    
    &:before {
      content: $random-text;
      position: absolute;
      color: white;
      $path: polygon(0 0, 110% 0, 100% 65%, 0 25%);
      -webkit-clip-path: $path;
      clip-path: $path;
    }
}
.cut-geneaka {
    $random-text: 'geneaka';
    position: relative;
    text-transform: uppercase;
    font-size: 80px;
    color: transparent;
    font-weight: 400;
    font-family: 'Catamaran', sans-serif;
    font-style: italic;

    &:after {
      content: $random-text;
      position: absolute;
      left: -10px;
      top: -2px;
      color: white;
      $path: polygon(0 25%, 100% 65%, 100% 100%, 0% 100%);
      -webkit-clip-path: $path;
      clip-path: $path;
    }
    
    &:before {
      content: $random-text;
      position: absolute;
      color: white;
      $path: polygon(0 0, 110% 0, 100% 65%, 0 25%);
      -webkit-clip-path: $path;
      clip-path: $path;
    }
}
.cut-bunny {
    $random-text: 'bunnyfinder';
    position: relative;
    text-transform: uppercase;
    font-size: 80px;
    color: transparent;
    font-weight: 400;
    font-family: 'Catamaran', sans-serif;
    font-style: italic;

    &:after {
      content: $random-text;
      position: absolute;
      left: -10px;
      top: -2px;
      color: white;
      $path: polygon(0 25%, 100% 65%, 100% 100%, 0% 100%);
      -webkit-clip-path: $path;
      clip-path: $path;
    }
    
    &:before {
      content: $random-text;
      position: absolute;
      color: white;
      $path: polygon(0 0, 110% 0, 100% 65%, 0 25%);
      -webkit-clip-path: $path;
      clip-path: $path;
    }
}
//box stack technique
.boxDetails{
  background-color: #0077b6;
  border-radius: 10%;
  height: auto;
  width: 280px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 75%;
  top: 200px;
}
//box with 
.boxInfo{
  background-color: #0cc898;
  height: auto;
  width: 280px;
  padding: 15px;
  position: relative;
  left: 3%;
  margin-top: 5%;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonLink{
  padding: 5px;
  position: relative;
  border: none;
  border-radius: 15px;
  width: 130px;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(253deg, #0cc898, #864fe1);
  cursor: pointer;
}
.buttonWebsite{
  position: relative;
  border: none;
  border-radius: 15px;
  width: 130px;
  text-decoration: none;
  background: linear-gradient(150deg, #0077b6, #864fe1);
  cursor: pointer;
  margin: 15px;
  padding: 10px;
}
.buttonWebsite p{
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.buttonLink p{
  text-transform: uppercase;
  font-weight: 400;
  padding: 8px;
  letter-spacing: 0.1em;
}
.resumeTitle{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  font-size: 22px;
  padding: 15px;
  font-weight: 200;
  text-transform: uppercase;
}
.group{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  justify-content: space-between;
  width: 70%;
}
.listItems{
  color: #0077b6;
  align-self:center;
  font-weight: 600;
  letter-spacing: 2px;
}
.textResume{
  padding:6px;
  letter-spacing: 0.9px;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-align: justify;
}
.smallText{
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 17px;
  letter-spacing: 0.3px;
}
.list{
  list-style: circle;
  padding: 8px;
}
.icons{
  padding: 15px;
}
.iconsGroup{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
}
.groupMySeen{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  justify-content: space-around;
  width: 70%;
}
.video{
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.videoLanvest{
  width: 600px;
  height: auto;
}
.boxDetailsHidden{
  display: none;
}
@media screen and (max-width:1200px) {
  .videoLanvest{
    width: 450px;
  }
}

@media screen and (max-width:1400px) {
  .group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: auto;
  }
  .groupMySeen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: auto;
  }
  .boxInfo{
    width: 50%;
  }
  .boxInfo h1{
    text-align: center;
  }
  .buttonWebsite{
    width: auto;
  }
  .boxDetails{
    display: none;
  }
  .boxDetailsHidden{
    background-color: #0077b6;
    border-radius: 10%;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 200px;
  }
  .group div{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width:750px) {
  .resumeTitle{
    text-align: center;
  }
  .group{
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .boxDetailsHidden{
    width: auto;
    height: auto;
    padding: 5px;
  }
  .boxInfo{
    left:0;
    width: 90%;
    margin: 0;
    padding: 8px;
    height: auto;
  }
  .cut-myseen{
    font-size: 60px;
  }
  .cut-bunny{
    font-size: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  // .bigTitle{
  //   padding: 15px;
  // }
}